.chat-room {
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1em;
    /* justify-content: space-between; */
  }

  .room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em 0;
    border-bottom: .1em solid #999;
    height: 10vh;
  }

  .room-info h2,
  .room-info h3 {
    margin: 5px 0;
  }

  .button-group {
    display: flex;
    gap: 10px;
  }

  .edit-button,
  .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease-in-out;
  }

  .edit-button {
    background: hsl(211, 100%, 50%);
    color: white;
  }

  .edit-button:hover {
    background: #0056b3;
  }

  .delete-button {
    background: hsl(5, 90%, 40%);
    color: white;
  }

  .delete-button:hover {
    background: hsl(0, 100%, 35%);
  }

  .messages {
    overflow-y: auto;
    background-color: hsl(240, 20%, 8%);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-height: 74vh;
    height: 74vh;
  }

  .message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    transition: transform 0.2s ease;
    max-width: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
  }

  .my-message {
    background: hsl(250, 30%, 50%);
    text-align: left;
    align-self: flex-end;
  }

  .other-message {
    background: hsl(200, 30%, 30%);
    text-align: left;
    align-self: flex-start;
  }

  .send-message {
    display: flex;
    gap: 10px;
    /* margin-top: 10px; */
  }

  .send-message input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .send-message button {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .send-message .sendBtn{
    background: hsl(120, 45%, 40%);
  }

  .send-message .sendBtn:hover {
    background: hsl(122, 60%, 35%)
  }



  .send-message .fileSendBtn {
    font-size: 1.3rem;
    background: none;
  }

  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.emoji button {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.emoji-picker {
    position: absolute;
    bottom: 40px; /* Adjust this value as needed */
    left: 0;
    background: #2c2c3e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

